<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{Title}}</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tracks_style.css">
</head>
<body>

<div class="d-flex justify-content-center align-items-center">
    <table id="table" class="table table-bordered table-dark text-center">
        <thead>
        <tr class="bg-primary">
            <th><a href="/"><img src="/img/arrow.png" alt=""></a></th>
            <th>Artist</th>
            <th>Title</th>
        </tr>

        </thead>
        <tbody>
        {{#each table}}
            <tr>
                <td class="table_index">{{@index}}</td>
                <td><a href="https://www.last.fm/music/{{artist}}">{{artist}}</a></td>
                <td><a href="https://www.last.fm/music/{{artist}}/_/{{title}}">{{title}}</a></td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
<script>
    let table_index = document.getElementsByClassName("table_index");
    for (let i of table_index) {
        i.innerHTML = `${parseInt(i.innerHTML) + 1}`;
    }
</script>
</html>
